@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.max-width {
    max-width: 1200px;
    margin: auto;
}

.spacer {
    flex-grow: 1;
}



/* Header */

header {
    box-shadow: 0 5px 5px hsl(0, 0%, 80%);
    z-index: 1;
}

/* Points bar */

.points-bar {
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    gap: 10px;
    padding: 5px;
}

.points-bar p,.points-bar h6 {
    margin: 0;
    font-size: .9rem;
    font-weight: 300;
}


/* Logo & login bar */

.logo-login-bar {
    display: flex;
    padding: 10px;
    align-items: center;
}

.logo-login-bar img {
    margin: auto;
    display: block;
    height: 40px;
}

.logo-login-bar a {
    position: absolute;
    color: black;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 20px;
    border: 3px solid hsl(0, 0%, 80%);
    border-radius: 100px;
    display: block;
    transition-property: background-color;
    transition-duration: 100ms;
}

.logo-login-bar a:hover {
    background-color: hsl(36, 19%, 95%);
}

.alt-menu {
    display: none;
}


/* Well, you can read */

header hr {
    border: 1px solid hsl(0, 0%, 80%);
}


/* Navigation bar */

nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    gap: 10px;
}

nav a,nav input {
    font-size: 1.25rem;
}

nav a {
    color: black;
    text-decoration: none;
    transition-property: color;
    transition-duration: 100ms;
}

nav img {
    height: 1.75rem;
    vertical-align: top;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-search {
    background-color: hsl(0, 0%, 93%);
    padding: 10px;
    border-radius: 50px;
    flex-grow: 1;
    display: flex;
    gap: 10px;
}

.nav-search input {
    background-color: hsl(0, 0%, 93%);
    border: 0;
    padding: 3px;
    flex-grow: 1;
}

.nav-links a:hover {
    color: brown;
}

.nav-basket {
    padding: 10px;
    border-radius: 50px;
    transition-property: background-color;
    transition-duration: 100ms;
}

.nav-basket:hover {
    background-color: hsl(0, 0%, 93%);
}



/* Footer */

footer h4 {
    font-size: 1.5rem;
    margin: 0;
}

footer a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 5px 0;
    transition-property: color;
    transition-duration: 100ms;
    width: max-content;
}

footer a:hover {
    color: rgb(75, 75, 75);
}

.footer-top {
    padding: 30px;
    min-height: 200px;
    display: flex;
}

.footer-top>article {
    padding: 20px;
    width: 20%;
}

.vl {
    height: 100%;
    width: 0px;
    border:  1px solid hsl(36, 19%, 95%);
}

.social-media-container {
    margin: 5px 0;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-top p {
    margin: 0;
}

.social-media-container img, .social-media-container a {
    height: 100%;
}

.footer-bottom {
    background-color: hsl(36, 19%, 95%);
    padding: 20px;
}

.footer-bottom>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-container {
    height: 30px;
}

.transaction-container img {
    height: 100%;
}



/* Main content */

main {
    flex-grow: 1;
    background-color: hsl(36, 19%, 95%);
    padding: 50px 0;
}

.product-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container article {
    background-color: hsl(0, 0%, 91%);
    border-radius: 10px;
    width: 350px;
}

.product-image-container {
    height: 348px;
    width: 100%;
}

.product-image-container img {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    display: block;
    transition-property: padding;
    transition-duration: 250ms;
}

.product-container article:hover img {
    padding: 10px;
}

.product-container article section {
    background-color: white;
    border-radius: inherit;
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
}

.product-container article h5,.product-container article p {
    margin: auto;
    width: max-content;
    font-weight: 300;
    font-size: 1rem;
    font-family: 'PT Serif', serif;
}

.product-container article h5 span {
    font-weight: bold;
}

.pricing-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.add-to-cart {
    display: flex;
    background-color: hsl(166, 92%, 26%);
    border: 3px solid hsl(166, 92%, 26%);
    border-radius: 50px;
    width: 60%;
    transition-property: background-color, border-color;
    transition-duration: 100ms;
}

.add-to-cart:has(a:hover) {
    background-color: hsl(166, 92%, 30%);
    border: 3px solid hsl(166, 92%, 30%);
}

.add-to-cart input {
    width: 30%;
    padding-left: 20px;
    box-sizing: border-box;
    border: 0;
    font-size: 1rem;
    border-radius: 50px 0 0 50px;
}

.add-to-cart a {
    width: 70%;
    text-align: center;
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    padding: 5px;
}

@media only screen and (max-width: 1200px) {

    /* TODO: Fix the nav */

    /* Header */

    .nav-links {
        display: none;
    }

    .alt-menu {
        display: block;
    }

    .alt-menu span {
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 3rem;
    }

    nav .spacer {
        flex-grow: 0;
    }

    .menu-close,.menu-open {
        transition-property: opacity;
        transition-duration: 100ms;
    }

    .menu-close {
        opacity: 0;
    }

    .alt-menu input {
        width: 2.25rem;
        height: 2.25rem;
        position: absolute;
        right: .75rem;
        top: 2.75rem;
        z-index: 10;
        opacity: 0;
    }

    .alt-menu input:hover {
        cursor: pointer;
    }

    .alt-menu input:checked ~ .menu-close {
        opacity: 1;
    }

    .alt-menu input:checked ~ .menu-open {
        opacity: 0;
    }

    .logo-login-bar:has(.alt-menu input:checked) ~ nav .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 0;
        top: 168px;
        background-color: rgba(0,0,0,.5);
        padding-top: 50px;
        box-sizing: border-box;
        gap: 10px;
    }

    .nav-links a {
        box-sizing: border-box;
        color: white;
        padding: 10px;
        text-align: center;
        transition-property: color, background-color;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .nav-links a:hover {
        background-color: rgba(255, 255, 255, .5);
    }



    /* Footer */

    .hl {
        display: none;
    }

    .footer-top {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer-top>article {
        width: 300px;
    }

    .footer-bottom {
        flex-direction: column;
    }

}

@media only screen and (max-width: 700px) {
    .footer-top {
        flex-direction: column;
    }
    .footer-bottom>div {
        flex-direction: column;
    }
}